extends layout

block content
 .page-header
  h2= title
 p Node.js is an open source, cross-platform runtime environment for server-side and networking applications. Express is a Node.js web application that provides a robust set of features for web and mobile applications.

 p MongoDB is an open-source, document database. Mongoose is the MongoDB object modeling tool designed to work in an asynchronous environment.