extends layout

block content
  .page-header
   h2 Welcome
  p This is a website developed using Node.js and Express framework.
  p It contains a MongoDB database and uses Mongoose to manage the dataset.
  p This implementation involves the bulding of CRUD & REST operations to a Node.js website.
  p The database comprise of a list of clients in a company. You can access the current client list via 
   a(href='/clients') Clients webpage.
  p To add a new client, please visit 
   a(href='/new_client') Add New Client webpage.
